---
import { useStoryblokApi } from "@storyblok/astro";
import { fetchPosts, type PostModel } from "../../api/post";
import RootLayout from "../../components/layouts/RootLayout.astro";

type Props = {
  post: PostModel;
};

export const prerender = true;

export async function getStaticPaths() {
  const posts = await fetchPosts();

  return posts.map((post) => ({
    params: { id: post.id.toString() },
    props: { post },
  }));
}

// const storyblokApi = useStoryblokApi();

// const { data } = await storyblokApi.get("cdn/stories/test-astro", {
//   version: "published",
// });

// const story = data.story;

const { post } = Astro.props;
---

<RootLayout title={post.title}>
  <header>
    <h1>{post.title}</h1>
    <span>Post ID: {post.id}</span>
    <span>User ID: {post.userId}</span>
  </header>
  <main>
    <p>{post.body}</p>
  </main>
</RootLayout>
